# Environment Variables
.env

# Byte-compiled and cached files
**/__pycache__/

# Database and migration files
stockmaster/stockmaster/recommendation_system/migrations/
stockmaster/stockmaster/backend/migrations/
stockmaster/stockmaster/api/migrations/

# Uploaded media and data files
stockmaster/stockmaster/recommendation_system/data/
stockmaster/stockmaster/uploads/

# Ignore IDE and OS-specific files (optional)
*.log
*.sqlite3
.DS_Store
.vscode/
.idea/
